<!-- fextends, fblock -->
{% extends "base.html" %} {% block content %}
  <form method="post">
     {% include "errors.html" %}
     {{form.csrf_token}}
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" value="{{book.title.data  or '' }}" name="title"/>
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
     <input type="text" class="form-control" id="author"  value="{{book.author.data  or '' }}" name="author"/>
     </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" value="{{book.price.data  or '' }}" name="price"/>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="description" id="description" rows="10" class="form-control" >{{book.description.data or ''}}</textarea>
    </div>
    <button type="submit" class="btn btn-success">추가</button>
    <a href="{{ url_for('book.list') }}" class="btn btn-primary"> 목록</a>
  </form>
</div>
{% endblock %}


