<!-- fextends, fblock -->
{% extends "base.html" %} {% block content %}
<div class="row mb-3">
  <h1>완료 목록</h1>
</div>
<div class="row mb-3">
  <div class="col">
    <a href="{{ url_for('todo.register') }}">Todo 추가</a>
  </div>
  <div class="col text-end">
    <a href="{{ url_for('todo.list') }}" class="btn btn-primary">완료 Todo</a>
  </div>
</div>
<table class="table">
  <tbody>
    {% for todo in todos %}
    <tr>
      <th scope="row">
        <a href="{{ url_for('todo.detail', id=todo.id) }}">{{todo.title}}</a>
        {% if todo.important %}

        <span class="badge bg-danger">!</span>
        {% endif %}
      </th>
      <td>
        <a href="{{ url_for('todo.done', id=todo.id) }}" class="btn btn-danger btn-sm">완료</a>
        <a href="" class="btn btn-primary btn-sm">수정</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
